
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: $body-bg;
  color: #636b6f;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
}
.full-height {
  height: 100vh;
  @media screen and (max-width: 600px) {
    height: auto;
  }  
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.content {
  text-align: center;
}
.title {
  font-size: 84px;
}
.margin-xl-bottom {
  margin-bottom: 3em;
}

.color-group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    p {
      width: auto;
    }
    .color-box {
      margin: 1em !important;
      &.no-votes {
        width: auto !important;
      }
    }
  }
  p {
    width: 124px;
    margin-bottom: 0;
    align-self: center;
  }
  .color-box {
    padding: 2.5em;
    margin: 0 1em;
    flex-grow: 1;
    &.no-votes {
      width: 30px;
      padding: 0;
    }
    &.user-voted {
      border: solid 0.3em #000;
      border-radius: 12px;
    }
    &.result {
      margin: 0 0.5em;
    }
  }
  .number-of-votes {
    color: white;
    font-weight: 700;
    font-size: 36px;
  }
}